Binaries
DerivedDataCache
Intermediate
Saved
Content\ThirdPersonCPP\Maps\*.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
